* {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-right: 300px;
    padding-left: 300px;
    background: #9E7C0C;
    height: 100px;
  }
  
  ul.headers,
  .logos {
    display: flex;
    gap: 50px;
    list-style-type: none;
  }
  
  a {
    font-size: 22px;
    text-decoration: none;
    background: #9E7C0C;
    border-radius: 15px;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: #e5e7eb;
    border: 1px solid transparent;
    border-width: 8px;
  }
  
  a:hover {
    border: 1px solid #241773;
    border-width: 8px;
    border-radius: 15px;
    background-color: #241773;
  }
  
  .navbar li:hover .dropdown > li {
    display: block;
    top: 0;
    padding-top: 15px;
  }
  .dropdown li {
    display: none;
    position: relative;
  }
  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .dropdown li:hover .dropdown-2 li {
    display: block;
    padding-top: 15px;
  }
  
  .dropdown-2 li {
    display: none;
    width: 300px;
  }
  .dropdown-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
  }
  

/*End of nav-container*/

.section1-container {
    display: flex;
    background: black;
    padding-top: 75px;
    padding-right: 400px;
    padding-left: 400px;
    padding-bottom: 100px;
    justify-content: center;
    align-content: center;
}

.leftside {
    width: 420px;
    margin-right: 50px;
    margin-top: 100px;
}

.rightside {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.boldtext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 3px;
}

/*End of section1-container*/

.section2-container {
    display: flex;
    padding-top: 50px;
    padding-right: 400px;
    padding-left: 400px;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #241773;
}

.top {
    width: 500px;
    height: 40px;
    margin-bottom: 50px;
}

.middle, .middle2 {
    display: flex;
    width: 1500px;
    height:250px;
    justify-content: space-around;
}

.middle2 {
    margin-top: 75px;
}

.bottom, .bottom2 {
    display: flex;
    width: 1500px;
    height:100px;
    margin-top: 5px;
    padding-top: 5px;
    justify-content: space-around;
    text-align: center;
    color: #F9FAF8;
}

.box {
    width: 250px;
    text-align: center;
    border: 10px solid black;
    border-radius: 15px;
}

.text {
    width: 250px;
    border-radius: 15px;
}

p.random {
    font-size: 36px;
    font-weight: bolder;
    color: #F9FAF8;
    text-align: center;
}

.name {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.rdpk, .school, .pos {
    font-size: 12px;
    margin-bottom: 5px;
}

/*End of section2-container*/

.section3-container {
    display: flex;
    padding-top: 50px;
    padding-right: 400px;
    padding-left: 400px;
    padding-bottom: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

.quote {
    width: 825px;
    height: 160px;
    color: #F9FAF8;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quotename {
    width: 825px;
    height: 40px;
    color: #F9FAF8;
    font-size: 36px;
    font-weight: bolder;
    text-align: right;
    padding-top: 10px;
}

/*End of section3-container*/

.footer-container {
    display: flex;
    padding-top: 30px;
    padding-right: 400px;
    padding-left: 400px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    background: #9E7C0C;
    color:#F9FAF8;
}

/*End of footer-container*/



